@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 190, 204, 255;
  --background-end-rgb: 194, 255, 185;
  --inputbox-background: rgba(0, 0, 0, 0.5); /* 50% transparent */
  --inputbox-background-blur: blur(10px); /* Blur the background */
  --inputbox-background-transition: background-color 0.3s ease-in-out;
  --inputbox-background-hover: rgba(68, 132, 84, 0.5); /* 50% transparent */
  --title-color: #1e1e1e;
  --highlight-color: rgb(90, 109, 95);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 190, 204, 255;
    --background-end-rgb: 194, 255, 185;
    --highlight-color: rgb(90, 109, 95);
  }
}

@font-face {
  font-family: 'FontDisplay-Medium';
  src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SerifDisplay';
  src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button, input, textarea {
  font-family: 'SerifDisplay';
}

body {
  font-family: 'SerifDisplay';
  margin: 0; /* Remove default margin */
  min-height: 100vh; /* Minimum height to cover the viewport height */
  width: 100vw; /* Full viewport width */
  background-image: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  overflow-y: auto; /* Allows vertical scrolling */
}

.standard-button{
  padding: 20px 20px;
  margin: 0.5rem;
  font-size: 20px;
  min-width: 170px;
  max-width: 350px;
  cursor: pointer;
  /* border: 1.5px solid #000000; */
  color: white;
  background-color: var(--title-color);
  border-radius: 5px;
  /* background-color: #000000; */
}


.page-button {
  /* background-color: transparent; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 10vw; /* Set width for circle */
  height: 10vw; /* Set height for circle */
  border-radius: 50%; /* Make it a circle */
  border: 1.5px solid white;
  margin: 20px 20px;
  font-size: 30px;
  background-color: var(--inputbox-background); /* 50% transparent */
  backdrop-filter: blur(10px); /* Blur the background */
  transition: background-color 0.5s ease-in-out;
}

.page-button:hover{
  background-color: var(--inputbox-background-hover); /* 50% transparent */
  backdrop-filter: blur(10px); /* Blur the background */
  transition: background-color 0.5s ease-in-out;
}

.standard-button:hover{
  /* border: 1.5px solid var(--highlight-color); */
  transition: background-color 0.5s ease-in-out;
  background-color: var(--highlight-color);
  /* color: rgb(70, 255, 187); */
  /* color: white; */
}

.page-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This might need to be changed to min-height */
  overflow: auto; /* Add this to test */
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: auto;
  overflow: auto; /* Add this to test */
}

.page-item{
    /* have each input-item to be in its own row inside input-button-container */
    flex: 0 0 100%; /* 1 input per row */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: red; */
  
}

.prompt-display{
  font-family: 'SerifDisplay';
  color: white;
  font-size: 30px;

}

.prompt-container{
  background-color: var(--inputbox-background); /* 50% transparent */
  backdrop-filter: blur(10px); /* Blur the background */
  padding: 20px;
  border-radius: 5px;
  height: 70vh;
  overflow: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.text-title{
  letter-spacing: 5px;
  /* color: linear-gradient(to bottom right, #ff9ec6, #92ff88); */
  /* -webkit-background-clip: text; */
  /* text-shadow: 3px 3px 3px rgba(26, 26, 26, 0.2); */
  color: var(--title-color);
}

.inputfield{
  color: #ffffff; /* Match the color with .text-title */
  width: 90%;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  height: 300px; /* Adjusted height */
  max-height: 30vh;
  vertical-align: top; /* Ensure text starts from top */
  border-radius: 5px;
  background-color: var(--inputbox-background); /* 50% transparent */
  backdrop-filter: blur(10px); /* Blur the background */
  transition: background-color 0.5s ease-in-out;
}

.inputfield::placeholder { /* Change color of placeholder text */
  color: hsl(0, 0%, 100%); /* Lighter shade of green for visibility */
}

.inputfield:focus {
  color: #ffffff;
  outline: none;
  background-color: var(--inputbox-background-hover); /* 50% transparent */
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease-in-out;
}