@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 190, 204, 255;
  --background-end-rgb: 194, 255, 185;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 190, 204, 255;
    --background-end-rgb: 194, 255, 185;
    --highlight-color: rgb(255, 255, 255);
  }
}

@font-face {
  font-family: 'SerifDisplay-Italic';
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SerifDisplay';
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button, input, textarea {
  font-family: 'SerifDisplay';
}

body {
  font-family: 'SerifDisplay';
  margin: 0; /* Remove default margin */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-image: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}


.standard-button{
  padding: 10px 20px;
  margin: 0.5rem;
  font-size: 18px;
  min-width: 170px;
  max-width: 350px;
  cursor: pointer;
  border: 1.5px solid #000000;
  border-radius: 5px;
  /* background-color: #000000; */
}

.standard-button:hover, .page-button:hover{
  border: 1.5px solid var(--highlight-color);
  color: var(--highlight-color);
  /* color: rgb(70, 255, 187); */
  /* color: white; */
}

.page-parent{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh;
}

.page-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  /* center the element here while give it max width of 70% of the screen */
  max-width: 70%;
  margin: auto;
  /* background-color: yellow; */
}

.page-item{
    /* have each input-item to be in its own row inside input-button-container */
    flex: 0 0 100%; /* 1 input per row */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: red; */
  
}


.page-button {
  /* background-color: #78ffb7; */
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  flex: 1 1 calc(33.33% - 20px); /* Allows 3 buttons per row */
  max-width: calc(33.33% - 20px);
  border: 1.5px solid black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

